<div class="container">
<div class="p-grid">

  <div class="p-grid-12">
    <h1>Lançamento</h1>
  </div>

  <div class="p-grid-12 p-fluid">
    <label>Descrição</label>
    <input type="text" pInputText />
  </div>
   <br/>

  <div class="p-grid-12">
    <label style="display: block">Vencimento</label>
    <input type="text" pInputText style="width: 95px" />

    <label>Até</label>
    <input type="text" pInputText style="width: 95px" />
  </div>
   <br>

  <div class="p-grid-12">
    <button pButton type="submit" label="Pesquisar" ></button>
  </div>
  
</div>
</div>